<!-- offcanvas carrito de compras -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCart" aria-labelledby="offcanvasCartLabel"
    data-bs-scroll="true" data-bs-backdrop="false" style="width: 48rem; max-width: 33rem">
    <div class="offcanvas-header">
        <h5 id="offcanvasCartLabel" class="text-center">Tu Carrito de Compras</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" style="background-color: rgb(184, 134, 11);">
        <div class="cart-container d-flex justify-content-center mt-0">
            <div class="row">
                <!-- Shopping Cart Items -->
                <div class="col-auto">
                    <!-- Cart Item -->
                    <div id="itemsProductos">
                        <% if (typeof cart !=="undefined" && Object.values(cart).length> 0) { %>
                            <% Object.values(cart).forEach(function(producto) { %>
                                <div class="cart-item d-flex justify-content-between" data-id="<%= producto.id %>">
                                    <div class="d-flex">
                                        <img src="/public/images/productos/<%= producto.img_url %>"
                                            alt="<%= producto.name %>" class="product-img me-3">
                                        <div>
                                            <h5>
                                                <%= producto.marca %>
                                            </h5>
                                            <p class="text-muted">
                                                <%= producto.name %>
                                            </p>
                                            <div class="input-group product-qty" style="max-width: 150px;">
                                                <span class="input-group-btn">
                                                    <button type="button"
                                                        class="quantity-left-minus btn btn-light btn-number"
                                                        data-type="minus" data-field="">
                                                        <svg width="16" height="16">
                                                            <use xlink:href="#minus"></use>
                                                        </svg>
                                                    </button>
                                                </span>
                                                <input type="text" id="quantity" name="quantity"
                                                    class="form-control quantity input-number text-center"
                                                    value="<%= producto.quantity %>" min="1" max="100">
                                                <span class="input-group-btn">
                                                    <button type="button"
                                                        class="quantity-right-plus btn btn-light btn-number"
                                                        data-type="plus" data-field="">
                                                        <svg width="16" height="16">
                                                            <use xlink:href="#plus"></use>
                                                        </svg>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column justify-content-between">
                                        <span>
                                            <%= producto.price.toLocaleString('es-CO', { style: 'currency' ,
                                                currency: 'COP' }) %>
                                        </span>
                                        <a class="remove-item btn btn-sm btn-danger btn-pill" title="Quitar del Carrito"
                                            data-id="<%= producto.id %>"><i class="bi bi-bag-x-fill"></i></a>
                                    </div>
                                </div>
                                <% }); %>
                                    <% } else { %>
                                        <p class="text-center">Tu carrito está vacío.</p>
                                        <% } %>
                    </div>
                </div>

                <!-- Cart Summary -->
                <div class="col-auto ms-auto" id="subtotales">
                    <div class="cart-summary d-flex">
                        <h4>Resumen de Compras</h4>
                        <ul class="list-unstyled">
                            <li class="d-flex justify-content-between">
                                <span>Subtotal:</span>
                                <span>$45.98</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <span>Shipping:</span>
                                <span>$5.00</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                <span class="total-price">Total:</span>
                                <span class="total-price">$50.98</span>
                            </li>
                        </ul>
                        <button class="btn btn-small btn-checkout w-100">Pagar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/public/js/jquery-1.11.0.min.js"></script>
<script>
    async function addCart(id) {
        const productId = id;
        const itemsProductos = document.getElementById('itemsProductos');
        itemsProductos.innerHTML = "";
        $.getJSON("/add-to-cart/" + productId).done(function (data) {
            console.log(`Producto añadido al carrito: ${JSON.stringify(data.cart)}`);
            Object.values(data.cart).forEach(producto => {
                const item = document.createElement("div");
                item.className = "cart-item d-flex justify-content-between";
                item.setAttribute('data-id', producto.id)
                item.innerHTML = `
                            <div class="d-flex">
                                <img src="/public/images/productos/${producto.img_url}" alt="${producto.name}" class="product-img me-3">
                                <div>
                                    <h5>${producto.marca}</h5>
                                    <p class="text-muted">${producto.name}</p>
                                    <div class="input-group product-qty" style="max-width: 150px;">
                                        <span class="input-group-btn">
                                            <button type="button" class="quantity-left-minus btn btn-light btn-number" data-type="minus" data-field="">
                                                <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                            </button>
                                        </span>
                                        <input type="text" id="quantity" name="quantity" class="form-control quantity input-number text-center" value="${producto.quantity}" min="1" max="100">
                                        <span class="input-group-btn">
                                            <button type="button" class="quantity-right-plus btn btn-light btn-number" data-type="plus" data-field="">
                                                <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-column justify-content-between">
                                <span>${producto.price.toLocaleString('es-CO', { style: 'currency', currency: 'COP' })}</span>
                                <a class="remove-item btn btn-sm btn-danger btn-pill" title="Quitar del Carrito" data-id="${producto.id}"><i class="bi bi-bag-x-fill"></i></a>
                            </div>
                        `;
                itemsProductos.appendChild(item);
            });
        })
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("itemsProductos").addEventListener("click", function (event) {
            if (event.target.classList.contains("remove-item")) {
                const productoId = event.target.getAttribute("data-id");
                const cartItem = document.querySelector(`.cart-item[data-id="${productoId}"]`);

                if (!cartItem) {
                    alert("Error: No se encontró el producto en la vista.");
                    return;
                }

                fetch(`/remove-from-cart/${productoId}`, {
                    method: "POST",
                    headers: { "Content-Type": "application/json" }
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.message) {
                            // Aplicar efecto de fadeOut antes de eliminar el producto del DOM
                            cartItem.style.transition = "opacity 0.4s ease-out";
                            cartItem.style.opacity = "0";

                            setTimeout(() => {
                                cartItem.remove();

                                // Actualizar la cantidad de productos en el carrito
                                const cartCount = document.getElementById("cartCount");
                                if (cartCount) {
                                    cartCount.textContent = data.cart.length;
                                }

                                // Si el carrito está vacío, cerrar la offCanvas
                                if (data.cart.length === 0) {
                                    // document.getElementById("offcanvasCart").style.display = "none";
                                    document.getElementById('offcanvasCart').hidden;
                                }
                            }, 400);
                        } else {
                            alert("Error al eliminar el producto");
                        }
                    })
                    .catch(error => console.error("Error:", error));
            }
        });
    });
</script>