<section class="feat-collection padding-large">
    <div class="container">
        <div class="row">
            <div class="section-header text-center">
                <h2 class="section-title">Fragancias Destacadas</h2>
            </div>
        </div>
        
        <div class="row product-content large-box">
            <% 
                    const shuffled = productos.sort(() => 0.5 - Math.random());
                    const selected = shuffled.slice(0, 4);
                    selected.forEach(producto => { 
                %>
            <div class="col-md-3 col-sm-6">
                    <div class="content-box text-center" data-aos="fade" data-aos-delay="1000">
                        <div class="card border-0" style="width: 18rem;">
                            <div class="contenedor">
                                <img src="/public/images/productos/<%= producto.img_url %>" alt="<%= producto.nombre %>" class="img-thumbnail border-0" style="max-width: 255px;">
                                <div class="contenido">
                                    <div class="card-img-overlay">
                                        <div
                                            class="card-title d-flex flex-direction-row justify-content-center align-items-center">
                                            <button type="button" class="btn btn-outline-dark btn-small border-0">Añadir al
                                                Carrito</button>
                                            <button type="button" class="btn btn-outline-dark btn-small border-0"
                                                title="Añadir a la lista de deseos"><i class="icon icon-heart"></i></button>
                                            <button type="button" id="<%= producto.id %>" class="btn btn-outline-dark btn-small border-0"
                                                title="Vista Previa"><i class="bi bi-eye"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-detail mt-3">
                                    <h3 class="product-title"><%= producto.nombre %></h3>
                                    <span class="price">$<%= producto.precio %></span>
                                </div>
                            </div> <!-- .contenedor -->
                        </div>
                    </div>
                </div>

            <% }); %>
        </div>
        <div class="btn-center">
            <a href="#" class="btn btn-medium btn-primary">Comprar Ahora</a>
        </div>
    </div>
</section>